<div class="modal" ng-controller="myPublish">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>发布流程</h2>
            </div>
            <div class="modal-body">
                <div ng-if="saveDialog.errorMessage && saveDialog.errorMessage.length > 0" class="alert error"
                     style="font-size: 14px; margin-top:20px">
                    <div class="popup-error" style="font-size: 14px">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span>{{saveDialog.errorMessage}}</span>
                    </div>
                </div>
                <p>发布只能发布已保存的版本，确定发布"{{saveDialog.key}}"
                </p>
            </div>
            <div class="modal-footer">

                <div class="pull-right">
                    <button type="button" class="btn" ng-click="close()" ng-disabled="status.loading" translate>
                        ACTION.CANCEL
                    </button>
                    <button class="btn btn-primary" ng-click="myPublish()" ng-disabled="status.loading ">发布</button>
                </div>
                <loading></loading>

            </div>
        </div>
    </div>
</div>
