<div class="modal" ng-controller="BpmRequestparamPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate}} "{{property.title | translate}}"</h3>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="col-xs-6">
                        <button ng-click="changeAllOpenStatus(true);">全部展开</button>
                        <button ng-click="changeAllOpenStatus(false);">全部关闭</button>
                        <div style="overflow-y:auto;white-space: nowrap;margin-top: 10px; border:1px solid grey; border-radius: 4px; overflow-x:auto; width: 400px; height:400px;">
                            <tree-view tree-data="requestParamTree" text-field="name" value-field='id'
                                       item-clicked="itemClicked($item)"
                                       item-checked-changed="itemCheckedChanged($item)" can-checked="true"></tree-view>
                        </div>

                    </div>
                    <div ng-if="selectedItem.name" class="col-xs-6">
                        <div class="form-group">
                            <label>名称</label>
                            <input type="text" class="form-control" ng-model="selectedItem.name"
                                   placeholder="{{'PROPERTY.FIELDS.NAME.PLACEHOLDER' | translate}}"/>
                        </div>
                        <div>
                            <label>样例</label>
                            <pre style="height: fit-content;"
                                 class="form-control">{{selectedItem.templateValue | json}}</pre>
                        </div>
                        <div class="form-group">
                            <label>取值路径</label>
                            <pre type="text" class="form-control">{{selectedItem.valueConfig.name+selectedItem.valueConfig.path}}</pre>
                        </div>
                        <button ng-click="selectFromAllParam()">从全局参数中选取</button>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <!--<button ng-click="cancel()" class="btn btn-primary" translate>我的取消</button>-->
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
