<div class="modal" ng-controller="BpmRequestparamPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate}} "{{property.title | translate}}"</h3>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="col-xs-6">
                        <button ng-click="changeAllOpenStatus(true);">全部展开</button>
                        <button ng-click="changeAllOpenStatus(false);">全部关闭</button>
                        <div style="overflow-y:auto; overflow-x:auto; height:400px;">
                            <tree-view tree-data="requestParamTree" text-field="name" value-field='id'
                                       item-clicked="itemClicked($item)"
                                       item-checked-changed="itemCheckedChanged($item)" can-checked="true"></tree-view>
                        </div>

                    </div>
                    <div class="col-xs-6">
                        <span>{{selectedItem.name}} 绑定的参数值:</span>
                        <p><textarea auto-focus class="form-control" ng-model="selectedItem.bindParam"
                                     style="width:70%; height:100%; max-width: 100%; max-height: 100%; min-height: 200px"/>
                        </p>
                        <button>从全局参数中选取</button>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <!--<button ng-click="cancel()" class="btn btn-primary" translate>我的取消</button>-->
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
