<div class="modal" ng-controller="BpmServiceidPopupCtrl">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate}} "{{property.title | translate}}"</h3>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="col-xs-6" style="width: 30%">
                        <div style="overflow-y:auto; overflow-x:auto; height:400px;">
                            <ul class="tree-view">
                                <li ng-repeat="appItem in serviceList">
                                    <i ng-click="itemExpended(appItem, $event);" class="{{getItemIcon(appItem)}}"></i>
                                    <span>{{appItem.appname}}</span>
                                    <ul ng-show="appItem.$$isExpend" class="tree-view">
                                        <li ng-repeat="serviceItem in appItem.serviceList">
                                            <input type="checkbox" ng-model="serviceItem.$$isChecked" class="check-box"
                                                   ng-change="itemCheckedChanged(serviceItem)">
                                            <span>{{serviceItem.servicename}}</span>
                                            <span>{{'id:'+serviceItem.serviceid}}</span>
                                            <span>{{serviceItem.des}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6" style="width: 35%">
                        <h4>请求报文模板</h4>
                        <pre ng-if="service.requestTemplate"  style="overflow-y:auto; overflow-x:auto; height:400px;">{{service.requestTemplate | parsejson |json}}</pre>
                    </div>
                    <div class="col-xs-6" style="width: 35%">
                        <h4>返回报文模板</h4>
                        <pre ng-if="service.responceTemplate" style="overflow-y:auto; overflow-x:auto; height:400px;">{{service.responceTemplate | parsejson |json}}</pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="cancel()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <!--<button ng-click="cancel()" class="btn btn-primary" translate>我的取消</button>-->
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
